.logoindex {
  text-align: center; }
  .logoindex img {
    width: 20%; }
  .logoindex :hover {
    background-color: #50b2c0;
    border-radius: 50%; }

h1 {
  text-align: center;
  padding: 10px; }

h2 {
  text-align: center;
  padding: 10px; }

.main {
  padding: 1.2rem;
  width: 100%;
  text-align: center; }
  .main h2 {
    padding: 0.5rem;
    margin: 10px; }
  .main section {
    overflow-x: hidden; }
    .main section h2 {
      padding: 0.5rem;
      margin: 10px; }
    .main section p {
      line-height: 1.5;
      padding-top: 10px; }
    .main section .principal {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .main section .principal img {
        border: black 2.5px solid;
        margin: 20px auto;
        vertical-align: auto;
        max-width: 100%;
        height: auto;
        padding: 500px; }
    .main section .main section .adicional {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5rem;
      margin: 0.5rem; }
    .main section .adicional img {
      border: black solid 1.5px;
      width: 16%;
      padding: 4px;
      margin: 4px;
      align-items: center;
      height: 100%; }

.padre {
  width: 100%;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "compromisos muestras" "formulario muestras"; }
  .padre .compromisos {
    background: radial-gradient(ellipse, #feefdd, #faaa8d, #feefdd);
    grid-area: compromisos;
    padding: 10px;
    margin: 15px;
    border: black solid 2.5px; }
    .padre .compromisos h2 {
      text-align: center;
      padding-top: 10px; }
    .padre .compromisos li {
      text-align: center;
      list-style-type: none;
      padding: 15px;
      font-size: 1em; }
  .padre .muestras {
    grid-area: muestras;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center; }
    .padre .muestras img {
      vertical-align: auto;
      margin: 5px;
      width: 35%;
      border: black solid 1.5px; }
      .padre .muestras img:hover {
        transform: scale(1.4); }
  .padre fieldset {
    background: radial-gradient(ellipse, #faaa8d, #feefdd, #faaa8d);
    grid-area: formulario;
    text-align: center;
    grid-area: compromisos;
    padding: 10px;
    margin: 15px;
    border: black solid 2.5px; }
    .padre fieldset div {
      width: 50%;
      margin: 15px;
      align-items: center; }

.formulario-boton {
  background-color: #faaa8d;
  color: black;
  border: black solid;
  font-size: 2rem; }
  .formulario-boton :hover {
    background-color: #50b2c0;
    color: #faaa8d; }

.main {
  padding: 1.2rem;
  width: 100%;
  text-align: center; }
  .main section {
    overflow-x: hidden; }
    .main section p {
      line-height: 1.5;
      padding-top: 10px; }

.cajadonacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .cajadonacion .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border: black solid;
    position: relative; }
    .cajadonacion .box:nth-child(1) {
      background-image: url("../imagenes/mercado de pago.png"); }
    .cajadonacion .box:nth-child(2) {
      background-image: url("../imagenes/galguisocio.png"); }
    .cajadonacion .box:nth-child(3) {
      background-image: url("../imagenes/old prince.png"); }
    .cajadonacion .box:nth-child(4) {
      background-image: url("../imagenes/accesorios.png"); }
    .cajadonacion .box:nth-child(5) {
      background-image: url("../imagenes/hogar de transito.png"); }
    .cajadonacion .box .content {
      text-align: center;
      padding: 20px;
      color: black;
      font-size: 1.9rem; }
    .cajadonacion .box .button {
      position: absolute;
      bottom: 10px;
      left: 50px;
      padding: 10px 20px;
      background-color: #faaa8d;
      color: black;
      text-decoration: none;
      font-size: 1rem; }
      .cajadonacion .box .button:hover {
        background-color: #50b2c0;
        color: #faaa8d; }

video {
  width: 350px;
  height: 300px;
  padding: 5px;
  border: black solid;
  margin: 20px 20px; }

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  width: 50%;
  padding: 10px; }

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  .image-container div {
    width: 35%;
    margin: 4px;
    padding: 4px; }
    .image-container div img {
      border: black solid 1.5px;
      width: 100%;
      height: auto;
      transition: transform 0.3s ease; }
    .image-container div :hover {
      transform: scale(1.2); }

.up img {
  width: 28px; }

.btn {
  background-color: #faaa8d;
  color: black;
  border: black solid; }
  .btn:hover {
    background-color: #50b2c0;
    color: #faaa8d; }

.ventas {
  padding: 10px;
  align-items: center; }

@media screen and (max-width: 768px) {
  .logoindex img {
    width: 60%; }
  .column {
    width: 100%; }
  .padre {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "compromisos" "muestras" "formulario"; }
  .padre .compromisos {
    margin: 0; }
  .padre .muestras img {
    width: 100%;
    height: auto;
    margin: 5px; }
  .padre fieldset {
    margin: 0; }
  .padre fieldset div {
    width: 100%; }
  .principal img {
    width: 100%; }
  .main section .adicional {
    flex-direction: column;
    align-items: center; }
    .main section .adicional img {
      width: 100%;
      height: auto;
      max-width: none;
      padding: 0;
      margin-bottom: 20px; }
  .image-container {
    flex-direction: column;
    align-items: center; }
    .image-container .div img {
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
  .ventas {
    display: flex;
    flex-direction: column;
    align-items: center; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos General */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.navbar {
  background-color: #feefdd;
  color: black;
  padding-right: 50px; }
  .navbar ul a:hover {
    background-color: #50b2c0;
    border-radius: 60%;
    color: #faaa8d; }
  .navbar img {
    width: 15%;
    padding: 10px; }

.nav-link {
  color: black;
  font-size: 1.5em; }

footer {
  margin-top: auto;
  background-color: #feefdd;
  padding: 1rem;
  text-align: center; }
  footer .redessociales {
    height: 20px;
    margin: 10px; }
    footer .redessociales a {
      width: 25px;
      color: black;
      text-decoration: none;
      text-align: center; }
    footer .redessociales a:hover {
      background-color: #50b2c0;
      border-radius: 50%; }
