.logoindex {
    text-align: center; 
    img {
        width: 20%;
    }
    :hover {
        background-color:$colorhover;
        border-radius: 50%;
    }
}
h1 {
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
    padding: 10px;
}