@import "colores";
@import "index";
@import "nosotros";
@import "comoadoptar";
@import "comodonar";
@import "rescates";
@import "testimonios";
@import "galguitienda";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
/* Estilos General */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    background-image: url(../imagenes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    background-color:$colorfondo;
    color:$colortexto;
    padding-right: 50px;
        ul a:hover {
            background-color:$colorhover;
            border-radius: 60%;
            color:$colorcajas;
        }
        img {
            width: 15%;
            padding: 10px;
        }
}
.nav-link {
    color:$colortexto;
    font-size: 1.5em;
}
footer {
    margin-top: auto;
    background-color:$colorfondo;
    padding: 1rem;
    text-align: center;
    .redessociales {
        height: 20px;
        margin: 10px;
        a {
            width: 25px;
            color:$colortexto;
            text-decoration: none;
            text-align: center;
        }
        a:hover {
            background-color:$colorhover;
            border-radius: 50%;
        }
    }
}
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
    .padre {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "compromisos"
          "muestras"
          "formulario";
    }
    .padre .compromisos {
        margin: 0;
    }
    .padre .muestras {
        justify-content: center;
    }
    .padre .muestras img {
        width: 100%;
        height: auto;
        margin: 5px;
    }
    .padre fieldset {
        margin: 0;
    }
    .padre fieldset div {
        width: 100%;
    }
    .principal img {
        width: 100%;
    }
    .main section .adicional {
        flex-direction: column;
        align-items: center;
            img {                
                width: 100%;
                height: auto;
                max-width: none;
                padding: 0;
                margin-bottom: 20px;
            }
        }
        .image-container{
            flex-direction:column;
            align-items: center;
            .div img{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
        }
    .ventas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}