@import "colores";
@import "index";
@import "nosotros";
@import "comoadoptar";
@import "comodonar";
@import "rescates";
@import "testimonios";
@import "galguitienda";
@import "mediaqueries";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
/* Estilos General */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    background-image: url(../imagenes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    background-color:$colorfondo;
    color:$colortexto;
    padding-right: 50px;
        ul a:hover {
            background-color:$colorhover;
            border-radius: 60%;
            color:$colorcajas;
        }
        img {
            width: 15%;
            padding: 10px;
        }
}
.nav-link {
    color:$colortexto;
    font-size: 1.5em;
}
footer {
    margin-top: auto;
    background-color:$colorfondo;
    padding: 1rem;
    text-align: center;
    .redessociales {
        height: 20px;
        margin: 10px;
        a {
            width: 25px;
            color:$colortexto;
            text-decoration: none;
            text-align: center;
        }
        a:hover {
            background-color:$colorhover;
            border-radius: 50%;
        }
    }
    .copyright{
        font-size: 0.8rem;
    }
}

